.sell {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 5%;
}

.sell-header {
  color: #ffffff;
  font-size: 20pt;
  font-weight: bold;
}

.sell-form {
  display: flex;
  justify-content: flex start;
  align-items: flex start;
  flex-direction: column;
}

.sell-btn {
  background-color: orange;
  color: black;
  font-weight: bold;
  font-size: 14pt;
  /* width: 7vw;
  height: 3vw;
  min-width: 60px;
  min-height: 30px; */
  cursor: pointer;
  margin-bottom: 2vw;
  padding: 1%;
  width: 25vw;
}

.sell-form-text {
  color: white;
  font-size: 17pt;
  margin: 10px 0;
}

.sell-input {
  height: 3vw;
  min-height: 25px;
  font-size: 17pt;
  /* font-size: 14pt; */
  width: 25vw;
  /* height: 3vw; */
  min-width: 60px;
  /* min-height: 30px; */
  /* margin-right: 5px; */
  margin-bottom: 0.5vw;
}

.sell-img-input {
  display: none;
}

.div-input {
  background-color: orange;
  color: black;
  font-size: 14pt;
  width: 18vw;
  padding: 1%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 0.5vw;
  margin-right: 0.5vw;
}

.img-label {
  color: white;
  font-size: 14pt;
}

.upload-div {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 750px) {
  .sell-img-input {
    font-size: 12pt;
  }
  .sell-img-msg {
    font-size: 12pt;
  }
  .sell-input {
    width: 50vw;
  }
  .div-input {
    width: 35vw;
  }
  .sell-btn {
    width: 50vw;
  }
}
