.product-single {
  background-color: #ffffff;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: column;
  padding: 0 1%;
  font-size: 14pt;
}

.product-name {
  font-weight: bold;
  font-size: 20pt;
  align-self: center;
}

.product-img {
  width: 25vw;
  height: 18vw;
  min-width: 230px;
  min-height: 140px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-seller {
  margin-bottom: 0;
}

.product-buyer {
  margin-top: 0;
}

.product-buy {
  align-self: center;
}

.buy-btn {
  background-color: rgb(9, 107, 42);
  color: #ffffff;
  font-weight: bold;
  font-size: 14pt;
  width: 7vw;
  height: 3vw;
  min-width: 60px;
  min-height: 30px;
  border: solid;
  border-width: thin;
  /* border-color: black; */
  /* border-radius: 4pt; */
  cursor: pointer;
}

.buy-msg {
  color: red;
  font-weight: bold;
}
