.buy {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 5%;
  }

.buy-header {
  color: #ffffff;
  font-size: 20pt;
  font-weight: bold;
}